version: "3.9"
services:
 azurite:
  image: mcr.microsoft.com/azure-storage/azurite
  container_name: calypso-azurite
  hostname: azurite
  ports:
    - "10000:10000"
    - "10001:10001"
    - "10002:10002"
  restart: always
 api:
  container_name: calypos-api
  build: .
  ports:
  - 8080:5000